/* ici notre fichier CSS */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: inherit;
    font-family: Arial, Helvetica, sans-serif;
}

/* le corps de la page */
body{
    background-color: #A9D7E9;
}

/* sur le formualire saisi */
section{
    width: 390px;
    height: 50%;
    background-color: #F3F3F3;
    position: absolute;
    left: 50%;
    top: 20%;
    /* border-radius: 15px; */
    transform: translate(-50%, -20%);
    box-shadow: 0 3px 6px 5px rgba(0, 0, 0, 0.16) ;
}

header{
    /* background-color: orange; */
    padding: 10px;
    text-align: center;
}
h1{
    padding: 10px;
}
input{
    background-color: white;
    border: none;
    width: 80%;
    padding: 10px;
    font-size: 14px;
}
input[type=submit]{
    width: 20%;
    color: white;
    background-color: #6BA2CE;
    cursor: pointer;
}
ul{
    list-style: none;
    width: 100%;
   margin-top: 10px;
}
li{
    padding: 10px 10px 10px 40px;
    margin-top: 1px;
    position: relative;
}
li:nth-child(2n+1) {
    background-color: #ebebeb;
}

li > span {
    position: absolute;
    right: 5px;
    top: 0px;
    padding: 10px 10px;
    /* background-color: red;
    color: white; */
}

li:hover{
    cursor: pointer;
    background-color: #A9D7E9;
    /* background-color: #d6d1d1; */
}

li.checked {
    text-decoration: line-through;
    color: white;
    background-color: rgb(162, 162, 162); 
}

li.checked::before{
    content: "";
    position: absolute;
    border-color: white;
    border-style: solid;
    border-width: 0px 2px 2px 0px;
    top: 10px;
    left: 16px;
    height: 15px;
    width: 7px;
    transform: rotate(45deg);
}

.x{
    background-color: red;
    color: white;
    width: 30px;
    /* padding: ; */
    /* height: 100%; */
    text-align: center;
}
